
@using System.Windows;
@using System.Web.UI.WebControls;
@model AntennaHousePdf.Models.AntennaPdf
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@Html.Partial("_Header")
            <p>Will complete later</p>

        </div>
    </div>
</body>
</html>